@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --orange : #FE953A;
    --green : #47A640;
    --blue : #202098;
    --white : #F5F5F5;
    --grey : #DEDEDE;
    --black : #001021;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body{
    height: 90%;
    background: url(./team.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    transition: 0.5s ease;
}

header img{
    width: 180px;
    position: relative;
    top: 0;
    left: 0;
}


header .nav-bar{
    position: relative;
}

header .nav-bar ul{
    list-style: none;
}

header .nav-bar ul li{
    position: relative;
    float: left;
}
header .nav-bar ul li a{
    position: relative;
    color: var(--blue);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    display: block;
}

header .nav-bar ul li a:before{
    content: '';
    position: absolute;
    background: var(--orange);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .nav-bar ul a:hover:before{
    width: 100%;
}

header .nav-bar ul li ul{
    position: absolute; 
    left: 0;
    top: 110%;
    width: 100%;
    display: none;
}

header .nav-bar ul li ul li{
    width: 100%;
    border-top: .1em solid rgba(0, 0, 0, 0);
    margin-left: 7px;
}
header .nav-bar ul li:focus-within > ul,
header .nav-bar ul li:hover > ul{
    display: initial;
}

header .nav-bar ul li .drop .list a{
    position: relative;
    color: var(--blue);
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    display: block;    
}

header .nav-bar ul li .drop .list a:before{
    content: '';
    position: absolute;
    background: var(--orange);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .nav-bar ul li .drop .list a:hover{
    color: var(--orange);
}

section{
    padding: 100px 200px;
}


.team-section{
    padding: 0%;
    margin-top: 35px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card{
    height: 490px;
    width: 290px;
    margin: 40px;
    box-shadow: 0 3px 20px var(--black);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: var(--black);
}

.card .bg-image img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    opacity: 70%;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}

.card .picture img{
    height: 130px;
    width: 130px;
    border-radius:50%;
    margin-top: -90px;
    position: relative;
}

.card .info h3{
    font-weight: 800;
    color: var(--orange);
    font-size: 23px;
    padding:5px 0;
}

.card .info span{
    font-size: 15px;
    font-weight: 600;
    color: var(--white);
}

.card .info p{
    font-size: 13px;
    font-weight: 500;
    padding:10px 20px;
    color: var(--green);
}

.card .icons a{
    font-size: 30px;
    text-decoration: none;
    color: var(--grey);
    margin-top: 15px;
    padding:0 8px;
    transition: 0.3s ease;
}

.card .icons a:hover{
    color: var(--orange);
}


h1{
    color: var(--orange);
    margin-top: 120px;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline 4px var(--blue);
    line-height: 0px;
    margin-bottom: 0px;
    text-align:center;
}

h1 span{
    color: var(--green);
}
















@media (max-width: 1040px){
    header {
        padding: 20px 20px;
    }
    section {
        padding: 100px 30px;
    }

    header .nav-bar{
        display: none;
    }


    header .nav-bar.active{
        position: fixed;
        top: 0; left: 0; right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background: rgba(1, 1, 1, 0.5);
        align-items: center;
    }

    header .nav-bar ul li a{
        color: var(--blue);
        font-size: 1.2em;
        margin: 20px;
        transition: 0.3s ease;
    }

    header .nav-bar.active ul li a:before{
        background-color: var(--orange);
        height: 4px;
    }

    header .nav-bar ul{
        background: var(--white);
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    header .nav-bar ul li .drop{
        margin: 0;
        padding: 0;
        max-width: 550px;
        position: static;
        width: 100%;
    }
    header .nav-bar ul li .drop .list{
        background: var(--grey);
        margin-left: 0px;
    }

    
    header .nav-bar ul li .drop .list a{
        line-height: normal;
        top: 0; left: 0; right: 0;
        display: flex;
        justify-content: left;
        line-height: 0.3em;
    }


    .menu-btn{
        background: url(/images/menu.png)no-repeat;
        filter: invert(100%);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(/images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.4s ease;
    }
}






